@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');

:root {

	--font-body: "Fraunces", serif;
	--font-mono: "Fira Mono", monospace;


	--primary: #fdb833;
	--primary-soft: #fdc43f;
	--secondary: #ffda3d;
	--secondary-soft: #ffe94e;
	--pop: #fff75e;

	--bg: #FAF8DB;

	--color-text: #291b00d2;
	--inverted: #140E00;

	font-family: var(--font-body);
	color: var(--color-text);

	scroll-behavior: smooth;

}

a {
	text-decoration: none;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}